<?xml version="1.0" ?>

<launch>
  <param command="$(find xacro)/xacro $(find rvbot_description)/urdf/rvbot.xacro" name="robot_description"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>